.container {
  max-width: 100%;
  position: relative;
  height: calc(100vh * 0.8);
  .header {
    width: 100%;
    color: var(--orga-orange);
    font-family: rajdhani, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background: var(--black-omni);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;

    .date {
      display: flex;
      gap: 0.5rem;
      select {
        background: none;
        border: 0;
        color: var(--orga-orange);
        font-family: rajdhani, sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
        option {
          color: black;
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 2.5rem;
    background-color: var(--black-omni);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--orga-orange);
    font-weight: bold;
    font-family: rajdhani, sans-serif;
    padding: 0.5rem;

    .info {
      display: flex;
      width: 45%;
      justify-content: space-between;

      .deposit {
        color: var(--orga-green);
      }

      .withdraw {
        color: red;
      }
    }
  }
  @media (max-width: 720px) {
    height: 50vh;
    .footer {
      bottom: 0px;
    }
  }
}
