.container {
  width: 100%;
  max-width: 100%;

  .header {
    width: 100%;
    color: var(--orga-orange);
    font-family: rajdhani, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    background: var(--black-omni);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pizzaGraphic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
