.container {
  background-color: var(--orga-gray);
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .centerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    .logo {
      width: 20rem;
      height: 15rem;
    }

    .form {
      display: flex;
      align-items: center;
      flex-direction: column;

      h3 {
        text-align: center;
        margin-bottom: 1rem;
        font-family: rajdhani;
        color: var(--orga-orange);
        font-size: 30px;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        gap: 1rem;

        ::-webkit-input-placeholder {
          color: var(--orga-orange);
          filter: opacity(0.35);
        }

        input {
          width: 20rem;
          height: 2rem;
          border-color: var(--orga-green);
          background: none;
          border-style: double;
          border-radius: 5px;
          color: var(--orga-orange);
          text-align: center;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 2.5rem;
        width: 20rem;
        margin-bottom: 1rem;
        color: white;
        font-weight: bold;
        background-color: var(--orga-green);
        border: 0;
        border-radius: 5px;

        transition: background-color 0.2ms;

        &:hover {
          color: black;
          background-color: var(--orga-orange);
        }

        .loginIcon {
          margin-right: 5px;
        }
      }

      .options {
        a {
          color: var(--orga-orange);
          font-weight: bold;
          transition: color 0.2ms;

          &:hover {
            color: var(--orga-green);
          }
        }
      }
    }
  }
}
