.container{
  background-color: var(--black-omni);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  width: 100%;

  .logo{
    color: var(--orga-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    font-family: rajdhani, sans-serif;
    gap: 10px;

    img{
      height: 2.5rem;
    }
  }

  .options{
    color: var(--orga-orange);
    font-weight: bold;
    font-size: 2rem;
    font-family: rajdhani, sans-serif;
    a{
      display: flex;
      align-items: center;
      gap: 5px;
      transition: color 0.2ms;

      &:hover{
        color: var(--orga-green);

      }
    }
  }
}