@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white-ice: #e2e2e2;
    --purple:#6c63ff;
    --black-omni: #191622;
    --green-omni: #5fcc6f;
    --yellow-omni: #dad37d;
    --pink-omni:#ff79c6;
}

@media (max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

@media(max-width: 516px){
  html{
    font-size: 50%;
  }
}

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
  list-style: none;
}
